/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@media screen and (min-width: 500px){
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start your code here: */
html {
	font-size: 62.5%;
	background: url(../images/backgroundimg.jpg) fixed;
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	font-size: 2rem;
	color: white;
	
	background: url("../images/background.png") fixed;
	background-position: center; 
	background-origin: border-box;
	background-repeat: repeat-y;
	box-shadow:  0px 10px 50px black;

}
#background-img{
	width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
}
.container header h1{
	font-size: 150px;
	text-align: center;
	
}
header{
	font-family: Helvetica;
	font-weight: 800;
	display: flex;
	justify-content: center;
}
/*navigation*/
.navbar, .cart, .sidebar{
	font-family: 'Courier New', Courier, monospace;
	background-color: rgba(36, 29, 20, 0.7);
	color:white;
	
	
}

.home{
	color: red;
}
a{
	text-decoration: none;
}


a:visited{
	color: white;

}
a:hover{
	background-color: rgb(98, 194, 133);
	padding: 5px;
}
a:active{
	color: red;
}

.navbar ul {
	display: flex;
	justify-content: space-around;
	padding-right: 10px;
	
}

.navbar ul li{
	padding: 10px 10px 10px 0;
	

}

.navbar2{
	display:flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;

	/* padding: 10px; */
	background-color: rgba(66, 61, 61, 0.6);
}
.cart{
	display: flex;
	padding: 0 5% 0 5%;
	flex-direction: row;
	background-color: rgb(104, 97, 97, 0);
}
.cart li{
	font-size: 14px;
	/* margin: 10px; */
	padding: 0 2% 0 4%;

}
input[type=text]{
	color:rgb(77, 64, 46);
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
}
input{
	background-color: rgb(177, 177, 177);
	width: 300px;
	padding-left: 10px;
	height: 30px;
	border: 1px solid white;

}
.search-container button{
	width: 3%;
	height: 34px;
	color: rgb(77, 64, 46);
	position: absolute;
	cursor: pointer;
	border: none;
}
.search-container button:hover{
	background-color: rgb(77, 64, 46);
	color: white;
	size: 100;
	position: absolute;
	cursor: pointer;
	border: 1px solid white;
}

.search-container{
	margin: 10px;
	padding-right: 2%;
}
.search-container .text{
	width: 200px;
}

/*sidebar*/
.sidebar{
	max-width: 125px;
	text-align: center;
	box-shadow: -10px 10px rgb(0,0,0,0.6);
	float: right;
	position: fixed;
	/* z-index: 10; */
	background-color: rgb(155, 120, 98);
	bottom: 50%;
	right: 0;
	position: fixed;
	z-index: 3000;
}
.sidebar ul li{
	padding: 10px;
	font-size: 1.3rem;
	align-content: center;
}

/*slideshow*/

  .mySlides {
	width: 800px;

  }


/*main content*/
.main-content, footer {
	font-family: 'Courier New', Courier;
text-align: left;}
p, footer {
	color: black;
}

p{
	margin-left: 10px;
}

h1 {
	font-size: 10rem;
}
h2{
	text-align: center;
	padding: 10px;
}

h1,h2,h3,h4 {
	margin: 20px 0 0 10px;
}


 .subscribe input[type=text]  {
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: rgb(177, 177, 177);
	font-family: Helvetica, sans-serif;
	align-self: center;
	
  }

  
   input[type=submit] {
	align-self: center;
	width: 30%;
	background-color: rgb(36, 29, 20);;
	color: white;
	/* padding: 14px 20px; */
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
   input[type=submit]:hover {
	background-color: rgb(66, 61, 61);
  }
  form{
	  display: flex;
	  /* justify-content: start; */
	  flex-direction: column;
	  padding: 5px;
	  margin: 2px;
  }
  .subscribe label{
	font-family: Helvetica, sans-serif;
	align-self: flex-start;
	padding-top: 22px;
  }
  .subscribe {
	  /* display: flex; */
	  /* flex-direction: column; */
	  /* justify-content: center; */
	  width: 40%;
	border-radius:5px;
	background-color: white;
	padding: 2px;
	color: rgb(77, 64, 46);
	margin: 15px;
	
  }

  #sub_details {
	  padding: 5px 5px 0 5px;
	  font-size: 1.5rem;
  }

.bestsellers{
	margin-left: 5%;
	display: grid;
	grid-template-columns: repeat(4, .3fr);
	grid-auto-rows: minmax(100px, auto);
	row-gap: .5em;
	column-gap: 1px; 
	align-content: center;
}

figure img{
	max-width: 150px;
	/* align-self: center; */
}


footer{
	display: flex;
	justify-content: center;
	padding: 8px;

}


.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

}