/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start your code here: */
html {
	font-size: 62.5%;
	background-image: url(../images/backgroundimg.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	font-size: 2rem;
	color: white;
	background-color: rgb(155, 120, 98);
	box-shadow:  0px 10px 50px black;

}
#background-img{
	width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
}

header{
	font-family: Helvetica;
	font-weight: 900;
	display: flex;
	justify-content: center;
}
/*navigation*/
.navbar, .cart, .sidebar{
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(77, 64, 46);
	color:white;
	
	
}
a{
	text-decoration: none;
}


a:visited{
	color: white;

}
a:hover{
	background-color: green;
	padding: 10px;
}
a:active{
	color: red;
}

.navbar ul {
	display: flex;
	justify-content: space-around;
	padding-right: 10px;
	
}

.navbar ul li{
	padding: 10px 10px 10px 0;
	

}

.navbar2{
	display:flex;
	flex-direction: row;
	padding-right: 15px;
	background-color: rgb(104, 97, 97);
}
.cart{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgb(104, 97, 97);
}
.cart li{
	margin: 10px;
	/* padding: 2% 2% 2% 0; */
}
input[type=text]{
	color:rgb(77, 64, 46);
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
}
input{
	background-color: rgb(177, 177, 177);
	width: 300px;
	padding-left: 10px;
	height: 30px;
	border: 1px solid white;

}
.search-container button{
	width: 40px;
	height: 34px;;
	color: rgb(77, 64, 46);
	position: absolute;
	cursor: pointer;
	border: none;
}
.search-container button:hover{
	background-color: rgb(77, 64, 46);
	color: white;
	size: 100;
	position: absolute;
	cursor: pointer;
	border: 1px solid white;
}

.search-container{
	margin: 10px;
	padding-right: 2%;
}
.search-container .text{
	width: 200px;
}

/*sidebar*/
.sidebar{
	max-width: 125px;
	text-align: center;
	box-shadow: -10px 10px rgb(0,0,0,0.6);
	float: right;
	position: fixed;
	/* z-index: 10; */
	background-color: rgb(155, 120, 98);
	bottom: 50%;
	right: 0;
	position: fixed;
	z-index: 3000;
}
.sidebar ul li{
	padding: 10px;
	font-size: 1.3rem;
	align-content: center;
}

/*slideshow*/
.slideshow {
	/* position: relative;
	margin: auto;
	float: left; */
	
  }
  .mySlides {
	width: 600px;

	/* position: relative; */
  }
.mySlides img{
	animation-direction: alternate;
}
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 60%;
	user-select: none;
	background-color: rgb(90,4,4,0.8);
  }
  .next {
	right: 0;
  }

  .prev:hover, .next:hover {
	background-color: rgb(1,1,1,0.8);
	border-radius: 60%;
  }

/*main content*/
.main-content, footer {
	font-family: 'Courier New', Courier;
text-align: left;}
p, footer {
	color: black;
}

p{
	margin-left: 10px;
}

h1 {
	font-size: 10rem;
}

h1,h2,h3,h4 {
	margin: 20px 0 0 10px;
}

.bestsellers{
	margin-left: 10px;;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, .3fr);
	grid-auto-rows: minmax(100px, auto);
	row-gap: .5em;
	column-gap: 1px; 
}
figure {
	/* justify-items: center; */
	/* align-items: start; */
	/* display: flex; */
	/* grid-row-start: 1; */
/* grid-row-end: 3; */


}
figure img{
	max-width: 150px;
	/* align-self: center; */
}


footer{
	display: flex;
	justify-content: center;
	padding: 8px;

}